.conteiner{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header_photo {   
    width: 100%; 
    max-width: 1200px;
    height: auto;
    object-fit: fill;    
}

.sezon_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sezon_items{
        width: 350px;
    height: 60px;
    border-radius: 4px;
    background-color:#ff103d;
     

}

.sezon_items + .sezon_items {
    margin-left: 44px;
}

