@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("/fonts/fonts/HelveticaNeueCyr-Black.otf"), url("/fonts/fonts/HelveticaNeueCyr-Black.eot") format("eot"), url("/fonts/fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("/fonts/fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("/fonts/fonts/HelveticaNeueCyr-Roman.otf");
}

.conteiner {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.header_photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.sezon_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px auto 35px;
}

.sezon_items {
  font-family: "HelveticaNeueCyr";
  font-weight: 900;
  font-style: normal;
  padding: 15px 34px;
  border-radius: 15px;
  background-color: #ff103d;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  margin: 0 22px;
  display: block;
}

.zagolovok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.zagolovok_txt {
  display: block;
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  line-height: 2px;
  font-weight: normal;
  font-style: normal;
  padding: 20px 270px 20px 60px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 15px;
}

.all_sezon {
  font-family: 'HelveticaNeueCyr';
  padding: 10px 30px;
  font-size: 20px;
  background-color: #acacac;
  color: #ffffff;
  font-weight: 900;
  font-style: normal;
  border-radius: 10px;
  text-decoration: none;
}

.komiks_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
}

.komiks_item {
  margin-bottom: 40px;
}

.kartinki {
  position: relative;
}

.komiks_foto {
  display: block;
  max-width: 250px;
  width: 100%;
  height: auto;
}

.komiks_open {
  font-family: 'HelveticaNeueCyr';
  padding: 10px 30px;
  display: block;
  background-color: #acacac;
  color: #ffffff;
  font-weight: 900;
  font-style: normal;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.komiks_zagolovok {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  color: #ff103d;
  text-align: center;
  line-height: 1;
  margin: 20px 0 0;
}

.komiks_zagolovok_2 {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  line-height: 1;
  text-align: center;
  font-weight: 900;
  font-style: normal;
  margin: 10px 0 0;
}

.vipusk {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  line-height: 1.2;
  text-align: center;
  margin: 0 0 0;
}

.button_more {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

.button_1 {
  max-width: 350px;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2.3rem;
  border: .1rem solid;
  border-radius: .4rem;
  cursor: pointer;
  text-decoration: none;
  margin: auto auto;
}

.vstavka {
  margin-bottom: 20px;
}

.vstavka_photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.komiks_title {
  font-family: "HelveticaNeueCyr";
  font-weight: 900;
  font-style: normal;
  color: #ff103d;
  text-align: center;
  font-size: 25px;
}

.three {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */