@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("fonts/fonts/HelveticaNeueCyr-Black.otf"), url("fonts/fonts/HelveticaNeueCyr-Black.eot") format("eot"), url("fonts/fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("fonts/fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("fonts/fonts/HelveticaNeueCyr-Roman.otf");
}

@font-face {
  font-family: 'Carson';
  src: url("fonts/fonts/Carson Bold.otf");
}

.conteiner {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.header_photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.sezon_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px auto 35px;
}

.sezon_items {
  font-family: "HelveticaNeueCyr";
  font-weight: 900;
  font-style: normal;
  padding: 15px 34px;
  border-radius: 15px;
  background-color: #c31c3e;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  margin: 10px 22px;
  display: block;
}

@media (max-width: 890px) {
  .sezon_items {
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  .sezon_items {
    font-size: 20px;
    padding: 10px 24px;
    margin: 5px 10px;
  }
}

@media (max-width: 582px) {
  .sezon_items {
    font-size: 13px;
    padding: 10px 24px;
    margin: 5px 10px;
  }
}

@media (max-width: 460px) {
  .sezon_items {
    font-size: 13px;
    padding: 10px 15px;
    margin: 5px 5px;
  }
  .sezon_inner {
    margin: 15px auto 15px;
  }
}

@media (max-width: 375px) {
  .sezon_items {
    font-size: 12px;
    padding: 10px 10px;
    margin: 5px 2px;
  }
}

.zagolovok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 40px;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 15px;
  width: 770px;
  height: 50px;
  background-color: #ffffff;
  padding-left: 40px;
}

.zagolovok_txt {
  display: block;
  font-size: 20px;
  white-space: nowrap;
  font-family: "HelveticaNeueCyr";
  line-height: 2px;
  font-weight: normal;
  font-style: normal;
}

.all_sezon {
  font-family: 'HelveticaNeueCyr';
  padding: 10px 30px;
  font-size: 20px;
  background-color: #acacac;
  color: #ffffff;
  font-weight: 900;
  font-style: normal;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 50px;
  white-space: nowrap;
}

@media (max-width: 800px) {
  .all_sezon {
    display: none;
  }
  .back {
    padding-left: 10px;
    margin: 0 10px;
  }
}

@media (max-width: 420px) {
  .zagolovok_txt {
    font-size: 18px;
  }
}

.komiks_inner, .komiks_inner2, .komiks_inner3, .komiks_inner4, .komiks_inner5, .komiks_inner6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
  padding: 0px 10px;
}

.komiks_item {
  text-align: center;
}

.kartinki {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.komiks_foto {
  display: block;
  max-width: 250px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 1157px) {
  .komiks_item {
    width: 50%;
    margin: 0 auto;
  }
  .komiks_foto {
    max-width: 350px;
  }
}

@media (max-width: 796px) {
  .komiks_item {
    width: 50%;
    margin: 0 auto;
  }
  .komiks_foto {
    max-width: 250px;
  }
}

@media (max-width: 572px) {
  .komiks_item {
    width: 50%;
    margin: 0 auto;
  }
  .komiks_foto {
    max-width: 200px;
  }
}

@media (max-width: 467px) {
  .komiks_item {
    width: 50%;
    margin: 0 auto;
  }
  .komiks_foto {
    max-width: 150px;
  }
}

@media (max-width: 384px) {
  .komiks_item {
    width: 100%;
    margin: 0 auto;
  }
  .komiks_foto {
    max-width: 250px;
  }
}

.komiks_open {
  font-family: 'HelveticaNeueCyr';
  padding: 10px 30px;
  display: block;
  background-color: #acacac;
  color: #ffffff;
  font-weight: 900;
  font-style: normal;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.komiks_zagolovok {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  color: #c31c3e;
  text-align: center;
  line-height: 1;
  margin: 20px 0 0;
}

.komiks_zagolovok_2 {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  line-height: 1;
  text-align: center;
  font-weight: 900;
  font-style: normal;
  margin: 10px 0 0;
}

.vipusk {
  font-size: 20px;
  font-family: "HelveticaNeueCyr";
  line-height: 1.2;
  text-align: center;
  margin: 0 0 25px;
}

.button_more {
  background-color: #f2f2f2;
  padding-bottom: 20px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_1, .button_2, .button_3, .button_4, .button_5 {
  white-space: nowrap;
  max-width: 350px;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  border: .1rem solid;
  border-radius: .4rem;
  cursor: pointer;
  text-decoration: none;
  margin: 5px auto 30px;
}

@media (max-width: 523px) {
  .button_1, .button_2, .button_3, .button_4, .button_5 {
    font-size: 1.1rem;
  }
}

.vstavka {
  margin-bottom: 20px;
}

.vstavka_photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  height: auto;
}

.komiks_title {
  font-family: "HelveticaNeueCyr";
  font-weight: 900;
  font-style: normal;
  color: #c31c3e;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 523px) {
  .komiks_title {
    font-size: 20px;
  }
}

.three {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button_more2 {
  background-color: #f2f2f2;
  padding-bottom: 20px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #c31c3e;
  padding-bottom: 20px;
}

.footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 35px auto 0px;
  max-width: 1200px;
  padding-top: 30px;
  padding: 30px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 10px;
}

.socseti1, .socseti2, .socseti3 {
  font-family: "HelveticaNeueCyr";
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.socseti {
  width: 47px;
  height: 47px;
  margin-right: 15px;
}

.footer_txt {
  font-size: 50px;
  font-family: "Carson";
  color: white;
  font-weight: bold;
  line-height: 1.103;
  text-align: center;
  margin: 15px auto;
  padding: 0 5px;
}

.footer_txt2 {
  font-size: 40px;
  font-family: "Carson";
  color: black;
  font-weight: bold;
  line-height: 1.103;
  text-align: center;
  margin: 15px auto;
}

@media (max-width: 1025px) {
  .footer_txt {
    font-size: 20px;
  }
  .footer_txt2 {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .footer_txt {
    font-size: 16px;
  }
  .footer_txt2 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */